h1{
    font-family: arial;
}

body{
    background-image: url();
}

.texto-esquerda {
    float: left;
    width: 50%;
  }

  .texto-direita {
    float: left;
    width: 50%;
  }
 
  body{
    background-image: url(https://st2.depositphotos.com/1022597/11046/i/950/depositphotos_110469380-stock-photo-light-blue-background-with-shiny.jpg) ;
  }

  .icone {
    width: 20px;
    height: 20px;
  }